*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", serif;
    color: white;
}
html{
    font-size: 62%;
}
body{
    background-color: black;
    color: wheat;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter:drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    color: purple;
    font-weight: 800;
    transition: 0.5s ease;
    cursor: pointer;
}
.logo:hover{
    transform: scale(1.1);
}
nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    border-bottom: 3px solid transparent;
    font-weight: 500;
    transition: 0.3s ease;
}
nav a:hover,nav a .active{
    color: purple;
border-bottom: 3px solid purple;
}
@media screen and (max-width:995px){
    nav{
        position: absolute;
        display: none;
        top:0;
        left: 0;
        width: 40%;
        border-left: 3px solid purple;
        border-bottom: 3px solid purple;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0 1rem solid rgba(0,0,0,0,1);
    }
    nav .active{
        display: block;
    }
    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    nav a:hover,nav a .active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5 rem solid purple
    }
   
    }
    .section{
        min-height: 100vh;
    }

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
    margin-top:200px;
    padding:0 10px;
}

.home .content h1{
    font-size: 6rem;
    font-weight:700 ;
    line-height: 1.3;
}
span{
    color: purple;
}
.content h3{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.content p{
    font-size: 1.6rem;
}
.home-img{
    border-radius:100%;
}
.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px purple;
    cursor: pointer;
    transition: 0.3s linear;
  
    
  
}
.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}
.socil-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid purple;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: white;
}
.socil-icons a:hover{
    color:white;
    transform: scale(1.3) translateY(-5px);
    background-color: purple;
    box-shadow: 0 0 25px purple;
}
.btn a{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color:purple;
    letter-spacing: 0.3rem;
    border: 2px solid purple;
    transform: 0.3s ease;
    cursor: pointer;
    
    
    font-weight: 600;

}
.btn a:hover{
    color:white;
    transform: scale3d(1.03);
    background-color: purple;
    box-shadow: 0 0 25px purple;
}
.typing{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;

   
    
}
.typing span{
    position: relative;
}
.typing span::before{
    content: "web developer";
    color: purple;
    animation: words 30s infinite;
}
.typing span::after
{
    content: "";
    background-color: black;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    position: absolute;
    right: -8;
    animation: cursor 0.3s infinite;
}
@keyframes cursor{
    to{
        border-left: 3px solid purple;
    }
    
}
@keyframes words{
    0%,20%{
        content: "Web developer";
    }
    21%,40%{
        content: "MERN Stack developer";
    }
    41%,60%{
        content: "Full Stack Developer";
    }
    61%,80%{
        content: "Front-end Developer";
    }
    81%,100%{
        content: "Web Developer";
    }
}

@media  screen and (max-width:1000px) {
    .home{
        gap: 4rem;
    }
    
}
@media  screen and (max-width:995px) {
    .home{
        flex-direction: column;
        margin:5rem 4rem;
    }
    .home .content h3{
        font-size: 2.3rem;
    }
    .content h1{
        font-size: 5rem;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}
.skills{
    text-align: center;
    font-size:2.3rem;
    margin-top: 50px;
}
.skills h2{
    color:white;
    font-size: 6rem;
    font-weight:700 ;
    line-height: 1.3;

}
ul{
    display: flex;
    justify-content:center;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
   
    
}
ul li{
    flex-basis: 25%;
   
   border: 2px solid purple;
   border-radius: 4rem;
   
    
    padding: 10px 20px;
    border-radius: 5px;
    color:purple;
}
li:hover{
    background:purple;
    box-shadow: 0 0 25px purple;
    color: white;
}
.projects{
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;

    align-items: center;
    margin-bottom: 20px;
  
    
   
    
}
.title {
    color:white;
    font-size: 6rem;
    font-weight:700 ;
    line-height: 1.3;
    text-align: center;
    margin-top: 30px;
}
.project{
    font-size: 1.8rem;
    color: white;
    border: 2px solid purple;
    text-align: center;
    border-radius: 20px;
    width: 40vw;
    margin-top: 10px;
   
    
   
    
}
.project p{
    font-size: 1.4rem;
    color: white;
    padding: 20px 20px;
    height: 20vw;
    width: 100%;
  
    
   
    
}


h3{
    color:purple;
    font-size: 2rem;
    padding-left: 30px;
    text-align: center;
}

.projects a {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color:purple;
    letter-spacing: 0.3rem;
    border: 2px solid purple;
    transform: 0.3s ease;
    cursor: pointer;

    

  
    
    
}
.projects a:hover{
    color:white;
    transform: scale3d(1.03);
    background-color: purple;
    box-shadow: 0 0 25px purple;
}
.contact h2{
   
    text-align: center;
    color:white;
    font-size: 6rem;
    font-weight:700 ;
    line-height: 1.3;

}
.contact form {
    max-width: 600px;
    margin: 0 auto;
}
.contact button{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color:purple;
    letter-spacing: 0.3rem;
    border: 2px solid purple;
    transform: 0.3s ease;
    cursor: pointer;
    

}
.contact button:hover{
    color:white;
    transform: scale3d(1.03);
    background-color: purple;
    box-shadow: 0 0 25px purple;
}
.contact input, .contact textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #090979;
    border-radius: 5px;
    background-color: purple;
}
input::placeholder {
    color: white; /* Change to your desired color */
      /* Ensure full opacity */
}

textarea::placeholder {
    color: white;
}
footer{
    padding: 10px;
    color: white;
    background:purple;
    margin-top: 10px;
    text-align: center;

}
footer a{
    color: white;
    text-decoration: none;
}
@media screen and (max-width:800px){
   
    .project p{
        width: 60vw;
        height: 40vw;
        
        
    }
    .project{
        width: 60vw;
    }
  
    
   
    .projects a{
        margin-top: 10px;
        text-decoration: none;
        color:white;
        background:purple;
        padding:5px;
        border-radius: 50px;
        
    }
   
    
   
}